.main-background {
    background-image: url(Img/BACKGROUND2.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    opacity: 0.5;
}

.home-logo {
    opacity: 0.3;
    width: 40%;
    height: 40%;
    margin-top: -18px;
}

.home-logo:hover {
    opacity: 1.5;
    transition: 2s;
}

@media (max-width: 660px) {
    .home-logo {
        height: 100%;
        width: 80%;
        margin-top: -8%;
    }
}


.main-background:hover {
    opacity: 1.5;
    transition: 2s;
}


nav,
li {
    font-size: 17px;
    padding-left: 50px;
    margin-top: -1%;
    margin-bottom: -1%;
}

#navbarNavDropdown {
    padding-left: 15%;
    margin-left: -10%;
}

.nav-link:hover {
        color: rgb(245, 74, 74);
}

/* END OF FIRST PAGE */



.homeFirstPara {
    margin-left: 9%;
    font-size: 18px;
    padding-bottom: 4%;
}


.pic-para {
    margin-left: 5%;

    border-bottom: 1px solid rgb(71, 4, 4);
}

@media (max-width:630px) {
    .pic-para {
        margin-left: 10%;
        width: 50%;
    }

}




/* NEW SECTION */

.home-grinder {
    width: 35rem;
    margin-left: 11%;
}

@media (max-width: 1066px) {
    .home-grinder {
        margin-left: 0%;
        margin-right: 10%;
    }
}






#homeSecondPara {
    font-size: 20px;
}

.homeSecondPara-row {
    padding-left: 15%;
}


#second-services {
    padding-bottom: 5%;
}

.home-button {
    border: 1px solid rgb(150, 148, 148);
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    margin: 1%;
    color: rgb(22, 22, 22);
    margin-left: 0%;
    

}

.but-row-pos {
    margin-left: 10%;
}

@media (max-width: 800px) {
    .but-row-pos {
        width: 80%;
        margin-top: 2%;
    }
}

.home-button:hover {
    background-color: rgb(229, 83, 83);
    color: white;
    
}

/* NEW SECTION */

.third-para {
    margin-left: 18%;
}

/* NEW SECTION */

.fourpic {

    
}

.fourpic:hover {
    opacity: 0.5;
    transition: 0.5s;
}

@media(max-width: 600px) {
    .fourpic {
        height: 90%;
        margin-left: 5%;
    }
}



/* NEW SECTION */

.finish-sec-info-home {
    background-image: url(Img/DARKER-SECOND-BACKGROUND.jpg);
    border-top: 1px solid black;
    padding-right: 20%;
    padding-left: 20%;
}

.port-main-con-home {
    border: 1px solid black;
    background-color: white;


}