.info-heading-1 {}

.info-para-1 {

    width: 70%;
    margin-left: 15%;
}

.info-first-sec {}

/* NEXT SECTIOIN */






/* pictures section */

/* pictures section */

.benifets-section {
    background-color: rgb(248, 246, 246);

}

.conwall {

    background-color: rgb(255, 255, 255);
}

.beni-para1 {
    width: 200px;
}

.small-imginfo {
    margin-left: 75px;
    border: none;
}

.script-writing {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
}


.bigpara {
    background-image: url(Img/DARKER-SECOND-BACKGROUND.jpg);
    margin-top: 3%;
}

.largecon {
    border-top: solid 1px rgb(102, 102, 102);
    border-bottom: solid 1px rgb(102, 102, 102);
    background-color: white;
}