.pic-pos {
    margin-left: 15%;
}

#finishtext {
    color: black;
    font-size: 17px;
    margin-bottom: 2%;
    margin-left: -23%;
}


.hed-one-fin {
    width: 450px;
    height: 250px;
    border-radius: 100%;
}

.hed-one-fin:hover {
    opacity: 0.3;
}




.but-gloss {
    text-decoration: none;
    background-color: rgb(158, 7, 7);
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: -5%;
    padding: 20px;
    padding-top: 5%;
}

.but-posi {
    margin-top: 9%;
}

@media (max-width:1200px) {
    .but-gloss {
        margin-left: 30%;
    }

}

@media (max-width:630px) {
    .but-gloss {
        margin-left: 20%;
    }

}

.but-gloss:hover {
    opacity: 0.5;
    text-decoration: underline;
    

}





.port-main-con {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}